*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F6842A;
}

.section-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.section-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}